:root ._dsp-flex{display:flex;}
:root ._fd-column{flex-direction:column;}
:root ._fb-auto{flex-basis:auto;}
:root ._bxs-border-box{box-sizing:border-box;}
:root ._pos-relative{position:relative;}
:root ._mih-0px{min-height:0px;}
:root ._miw-0px{min-width:0px;}
:root ._fs-1{flex-shrink:1;}
:root ._fg-1{flex-grow:1;}
:root ._bg-1662804342{background-color:var(--background075);}
:root ._ai-center{align-items:center;}
:root ._jc-center{justify-content:center;}
:root ._gap-1316330145{gap:var(--space-11);}
:root ._dsp-inline{display:inline;}
:root ._ww-break-word{word-wrap:break-word;}
:root ._whiteSpace-pre-wrap{white-space:pre-wrap;}
:root ._mt-0px{margin-top:0px;}
:root ._mr-0px{margin-right:0px;}
:root ._mb-0px{margin-bottom:0px;}
:root ._ml-0px{margin-left:0px;}
:root ._col-791969495{color:var(--gray6);}
:root ._ff-299667014{font-family:var(--f-fa);}
:root ._maw-7537{max-width:75%;}
:root ._ta-center{text-align:center;}
:root ._fow-233016202{font-weight:var(--f-we-6);}
:root ._ls-167744121{letter-spacing:var(--f-21-6);}
:root ._fos-229441282{font-size:var(--f-si-6);}
:root ._lh-222976635{line-height:var(--f-li-6);}
:root ._ai-stretch{align-items:stretch;}
:root ._pt-1481558152{padding-top:var(--space-9);}
:root ._pr-1481558152{padding-right:var(--space-9);}
:root ._pb-1481558152{padding-bottom:var(--space-9);}
:root ._pl-1481558152{padding-left:var(--space-9);}
:root ._gap-1481558152{gap:var(--space-9);}
:root ._btc-2122800589{border-top-color:var(--borderColor);}
:root ._brc-2122800589{border-right-color:var(--borderColor);}
:root ._bbc-2122800589{border-bottom-color:var(--borderColor);}
:root ._blc-2122800589{border-left-color:var(--borderColor);}
:root ._h-0px{height:0px;}
:root ._mah-0px{max-height:0px;}
:root ._bbw-0px{border-bottom-width:0px;}
:root ._btw-0px{border-top-width:0px;}
:root ._brw-0px{border-right-width:0px;}
:root ._blw-0px{border-left-width:0px;}
:root ._mt-1481558245{margin-top:var(--space-6);}
:root ._mb-1481558245{margin-bottom:var(--space-6);}
:root ._bbs-solid{border-bottom-style:solid;}
:root ._bts-solid{border-top-style:solid;}
:root ._bls-solid{border-left-style:solid;}
:root ._brs-solid{border-right-style:solid;}
:root ._transform-d0t1394298074{transform:translateY(-0.5px);}
:root ._col-675002279{color:var(--color);}
:root ._tt-230632953{text-transform:var(--f-tr-7);}
:root ._fow-233016233{font-weight:var(--f-we-7);}
:root ._ls-167744152{letter-spacing:var(--f-21-7);}
:root ._fos-229441313{font-size:var(--f-si-7);}
:root ._lh-222976666{line-height:var(--f-li-7);}
:root ._whiteSpace-normal{white-space:normal;}
:root ._ussel-auto{user-select:auto;-webkit-user-select:auto;}
:root ._col-darkgray{color:darkgray;}
:root ._fow-233016109{font-weight:var(--f-we-3);}
:root ._ls-167744028{letter-spacing:var(--f-21-3);}
:root ._fos-229441189{font-size:var(--f-si-3);}
:root ._lh-222976542{line-height:var(--f-li-3);}
:root ._col-791969557{color:var(--gray8);}
:root ._col-312414369{color:var(--red8);}
:root ._fow-700{font-weight:700;}