:root ._dsp-flex{display:flex;}
:root ._ai-stretch{align-items:stretch;}
:root ._fd-column{flex-direction:column;}
:root ._fb-auto{flex-basis:auto;}
:root ._bxs-border-box{box-sizing:border-box;}
:root ._pos-relative{position:relative;}
:root ._mih-0px{min-height:0px;}
:root ._miw-0px{min-width:0px;}
:root ._fs-0{flex-shrink:0;}
:root ._gap-1481558245{gap:var(--space-6);}
:root ._fd-row{flex-direction:row;}
:root ._gap-1481558214{gap:var(--space-7);}
:root ._col-gray{color:gray;}
:root ._ff-299667014{font-family:var(--f-fa);}
:root ._fow-233016078{font-weight:var(--f-we-2);}
:root ._ls-167743997{letter-spacing:var(--f-21-2);}
:root ._fos-229441158{font-size:var(--f-si-2);}
:root ._lh-222976511{line-height:var(--f-li-2);}
:root ._dsp-inline{display:inline;}
:root ._ww-break-word{word-wrap:break-word;}
:root ._whiteSpace-pre-wrap{white-space:pre-wrap;}
:root ._mt-0px{margin-top:0px;}
:root ._mr-0px{margin-right:0px;}
:root ._mb-0px{margin-bottom:0px;}
:root ._ml-0px{margin-left:0px;}
:root ._tt-uppercase{text-transform:uppercase;}
:root ._w-1611762937{width:var(--size-27);}
:root ._w-1611762999{width:var(--size-29);}
:root ._h-1611761883{height:var(--size-14);}
:root ._mt-1481558214{margin-top:var(--space-7);}
:root ._w-1611761976{width:var(--size-17);}
:root ._col-312414276{color:var(--red5);}
:root ._fow-233016140{font-weight:var(--f-we-4);}
:root ._ls-167744059{letter-spacing:var(--f-21-4);}
:root ._fos-229441220{font-size:var(--f-si-4);}
:root ._lh-222976573{line-height:var(--f-li-4);}
:root ._zi-10{z-index:10;}