:root ._dsp-flex{display:flex;}
:root ._ai-stretch{align-items:stretch;}
:root ._fd-column{flex-direction:column;}
:root ._fb-auto{flex-basis:auto;}
:root ._bxs-border-box{box-sizing:border-box;}
:root ._pos-relative{position:relative;}
:root ._mih-0px{min-height:0px;}
:root ._miw-0px{min-width:0px;}
:root ._fs-1{flex-shrink:1;}
:root ._fg-1{flex-grow:1;}
:root ._pr-1316330145{padding-right:var(--space-11);}
:root ._pl-1316330145{padding-left:var(--space-11);}
:root ._pt-1316330269{padding-top:var(--space-15);}
:root ._pb-1316330269{padding-bottom:var(--space-15);}
:root ._gap-1316330300{gap:var(--space-16);}
:root ._bg-1662804342{background-color:var(--background075);}
:root ._fs-0{flex-shrink:0;}
:root ._gap-1316330114{gap:var(--space-10);}
:root ._gap-1481558214{gap:var(--space-7);}
:root ._fd-row{flex-direction:row;}